<div class="header-top">
   <div class="wrap">
      <div class="header-top-left">
           <div class="box">
              <select tabindex="4" class="dropdown">
            <option value="" class="label" value="">Language :</option>
            <option value="1">English</option>
            <option value="2">French</option>
            <option value="3">German</option>
          </select>
            </div>
            <div class="box1">
                <select tabindex="4" class="dropdown">
            <option value="" class="label" value="">Currency :</option>
            <option value="1">$ Dollar</option>
            <option value="2">€ Euro</option>
          </select>
            </div>
            <div class="clear"></div>
       </div>
     <div class="cssmenu">
      <ul>
        <li class="active"><a href="login.html">Account</a></li> |
        <li><a href="checkout.html">Wishlist</a></li> |
        <li><%= link_to 'Checkout',destroy_user_session_path,method: :delete %></li>
        <li><a href="login.html">Log In</a></li> |
        <li><a href="register.html">Sign Up</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>