<!-- start slider -->
<div id="fwslider">
    <div class="slider_container">
        <div class="slide">
            <!-- Slide image -->
                <%= image_tag('banner.jpg') %>
            <!-- /Slide image -->
            <!-- Texts container -->
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <!-- Text title -->
                    <h4 class="title">Aluminium Club</h4>
                    <!-- /Text title -->

                    <!-- Text description -->
                    <p class="description">Experiance ray ban</p>
                    <!-- /Text description -->
                </div>
            </div>
             <!-- /Texts container -->
        </div>
        <!-- /Duplicate to create more slides -->
        <div class="slide">
            <%= image_tag('banner1.jpg') %>
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <h4 class="title">consectetuer adipiscing </h4>
                    <p class="description">diam nonummy nibh euismod</p>
                </div>
            </div>
        </div>
        <!--/slide -->
    </div>
    <div class="timers"></div>
    <div class="slidePrev"><span></span></div>
    <div class="slideNext"><span></span></div>
</div>
<!--/slider -->